<!-- <div class=" z-50  flex justify-around -mb-12 mx-auto ">
    <a routerLink="/Home" class="font-bold text-3xl cursor-pointer pt-3">DEPOT</a>
    <ul class="flex gap-10 font-bold items-center text-xl pt-3">
        <a routerLink="/Home" routerLinkActive="text-indigo-700" class="hover:text-indigo-700">Home</a>
        <a routerLink="/Products" routerLinkActive="text-indigo-700" class="hover:text-indigo-700">Shop</a>
        <a routerLink="/AboutUs" routerLinkActive="text-indigo-700" class="hover:text-indigo-700">About Us</a>
        <a routerLink="/Cart" routerLinkActive="text-indigo-700" class="hover:text-indigo-700">
            <div class="flex gap-1 items-center justify-center relative">
                <h1>Cart</h1>
                <div class="relative flex items-center justify-center">
                    <img src="assets/icons/shopping-bag.png" class="w-7" alt="">
                    <h1 *ngIf="Api.getCartCount()" class=" text-sm text-center absolute -top-4 right-1 z-50">
                        {{Api.getCartCount()}}</h1>
                </div>
            </div>
        </a>
        <a routerLink="/DashBoard" routerLinkActive="text-indigo-700" *ngIf="admin.Logged">DashBoard</a>
        <a class=" flex items-center gap-1">
            <img src="assets/icons/user.png">
            <h1 class="" *ngIf="user.isLogged">{{user.LoggedUser?.FirstName||"Admin"}}</h1>
            <h1 class="cursor-pointer" (click)="Login()" *ngIf="!user.isLogged">Login</h1>
            <h1 class="cursor-pointer hover:text-indigo-700" (click)="Logout()" *ngIf="user.isLogged">Logout</h1>
        </a>
    </ul>
</div> -->


<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900 mx-auto w-3/4">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
        <a routerLink="/Home" class="flex items-center">
            <span
                class="self-center  whitespace-nowrap dark:text-white font-bold text-3xl cursor-pointer pt-3">DEPOT</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul
                class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a routerLinkActive="text-indigo-700" routerLink="/Home"
                        class="block py-2 text-xl pl-3 pr-4 text-black bg-blue-700 rounded md:bg-transparent  md:p-0 dark:text-white"
                        aria-current="page">Home</a>
                </li>
                <li>
                    <a routerLink="/Products" routerLinkActive="text-indigo-700"
                        class="block text-xl py-2 pl-3 pr-4  rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Shop</a>
                </li>
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLink="/AboutUs"
                        routerLinkActive="text-indigo-700"
                        class="block text-xl py-2 pl-3 pr-4  rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About
                        Us</a>
                </li>
                <li>
                    <a routerLink="/Cart" routerLinkActive="text-indigo-700"
                        class="block text-xl py-2 pl-3 pr-4  rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                        <div class="flex gap-1 items-center justify-center relative w-20">
                            <h1>Cart</h1>
                            <div class="relative flex items-center justify-center md:justify-start md:w-24">
                                <img src="assets/icons/shopping-bag.png" class="w-7" alt="">
                                <h1 *ngIf="Api.getCartCount()"
                                    class=" text-sm text-center absolute -top-4 right-1 z-50">
                                    {{Api.getCartCount()}}</h1>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a routerLink="/DashBoard" routerLinkActive="text-indigo-700" *ngIf="admin.Logged"
                        class="block text-xl py-2 pl-3 pr-4  rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">DashBoard</a>
                </li>
                <li class="flex items-center">
                    <h1 class="text-xl" *ngIf="user.isLogged">{{user.LoggedUser?.FirstName||"Admin"}}</h1>
                    <a routerLink="/Flow" routerLinkActive="text-indigo-700" class="flex items-center gap-1 py-2 pl-3 pr-4 rounded hover:bg-gray-100
                        md:hover:bg-transparent md:border-0  md:p-0 dark:text-gray-400
                        md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white
                        md:dark:hover:bg-transparent">
                        <img src="assets/icons/user.png">
                        <h1 class="cursor-pointer text-xl" (click)="Login()" *ngIf="!user.isLogged">Login</h1>
                        <h1 class="cursor-pointer hover:text-indigo-700 text-xl" (click)="Logout()"
                            *ngIf="user.isLogged">Logout
                        </h1>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>