<div class="relative flex mt-16 justify-center items-center">
    <img src="assets/Dash.png" class="h-80 w-full object-cover" alt="">
    <h1 class="text-5xl text-white font-bold absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2">
        DEPOT</h1>
</div>
<form class="h-screen mt-16 container mx-auto" (submit)="Check($event)">
    <h1 class="text-5xl text-center mt-10">LOGIN</h1>
    <div class="w-1/2 mx-auto my-10 flex flex-col items-center gap-5">
        <div>
            <div class="flex w-[30rem]">
                <span
                    class="inline-flex items-center font-bold px-6 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                    Email
                </span>
                <input name="Name" required [(ngModel)]="LoginDetails.Email" type="text"
                    class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Username">
            </div>
        </div>
        <div>
            <div class="flex  w-[30rem]">
                <span
                    class="inline-flex items-center font-bold px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                    Password
                </span>
                <input name="Password" required [(ngModel)]="LoginDetails.Password" type="password"
                    class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="************">
            </div>
        </div>
        <h1 *ngIf="LoginDetails.result" class="text-xl text-red-800 font-bold">Wrong User Name or Password</h1>
        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
        <a class="text-xl font-bold" routerLink="/Flow/Register">Register Now !</a>
    </div>

</form>