<app-slider></app-slider>
<app-product-list></app-product-list>
<app-review-slider></app-review-slider>
<div class="flex justify-between my-10 w-3/4 mx-auto">
    <app-sponser src="assets/sponsers/client-1h.png"></app-sponser>
    <app-sponser src="assets/sponsers/client-2h.png"></app-sponser>
    <app-sponser src="assets/sponsers/client-3h.png"></app-sponser>
    <app-sponser src="assets/sponsers/client-4h.png"></app-sponser>
    <app-sponser src="assets/sponsers/client-5h.png"></app-sponser>
</div>