<div class="py-16  flex justify-around bg-black text-white border-t-2 relative">
    <div>
        <h1 class="font-bold text-1xl mb-5">CUSTOMER SERVICE</h1>
        <ul>
            <li class="my-2">Help & Contact Us</li>
            <li class="my-2">Returns & Refunds</li>
            <li class="my-2">Online Stores</li>
            <li class="my-2">Terms & Conditions</li>
        </ul>
    </div>
    <div>
        <h1 class="font-bold text-1xl mb-5">COMPANY</h1>
        <ul>
            <li class="my-2">What We Do</li>
            <li class="my-2">Available Services</li>
            <li class="my-2">Latest Posts</li>
            <li class="my-2">FAQs</li>
        </ul>
    </div>
    <div>
        <h1 class="font-bold text-1xl mb-5">SOCIAL MEDIA</h1>
        <ul>
            <li class="my-2">Twitter</li>
            <li class="my-2">Instagram</li>
            <li class="my-2">Tumblr</li>
            <li class="my-2">Pinterest</li>
        </ul>
    </div>
    <div>
        <h1 class="font-bold text-1xl mb-5">PROFILE</h1>
        <ul>
            <li class="my-2">My Account</li>
            <li class="my-2">Checkout</li>
            <li class="my-2">Order Tracking</li>
            <li class="my-2">Help & Support</li>
        </ul>
    </div>
    <a class="absolute bottom-16 right-8" (click)="GoUP()">
        <svg class=" lg:w-8 lg:h-8 -rotate-90 text-white sm:w-6 sm:h-6 dark:text-gray-800  hover:p-2 hover:text-white hover:text-base hover:bg-black hover:rounded-full transition-all"
            fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
    </a>
</div>